body {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 11.5px;
}

/* fixes iOS5 issues */
*:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
}

div {
	margin: 0;
	padding: 0;
}

a:link {
	color: #3300FF;
	text-decoration: none;
}

a:active, a:hover {
  color: #CC0033;
  text-decoration: underline;
}

a:visited {
	color: #3399CC;
}

body {
	margin : 0;
	padding : 0;
}

/********************** TREE NAVIGATION **************************/
body#tree-page { overflow: hidden; }

#root a { text-decoration: none; }

.folder { background: url(../images/expand.gif)  no-repeat; float: left; height: 16px; width: 14px; padding-right: 3px }
.doc { background: url(../images/expand.gif)  no-repeat; float: left; height: 16px; width: 14px; padding-right: 3px; visibility: hidden;   }


th {
	background-color: #E0E0E0;
}

.tier1 { margin-left: 0; }
.tier2 { margin-left: 1.5em; }
.tier3 { margin-left: 3em; }
.tier4 { margin-left: 4.5em; }
.tier5 { margin-left: 6em; }
.tier6 { margin-left: 7.5em; }
.tier7 { margin-left: 9em; }
.tier8 { margin-left: 10.5em; }
.tier9 { margin-left: 12em; }

#site-title {
	display: none;
}

#site-title + hr {
	display: none;
}

#tree {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	width: 400px;
	padding-top: 5px;
}

#tree > * {
	padding: 0 5px;
}

#tree tr.selected {
	font-weight: bold;
	color: #000;
}

#tree tr.selected a {
	color: #000;
}

#tree td, #tree th {
	border-bottom: 1px dotted #D5D5D5;
	border-collapse: collapse;
}

#tree td.centered {
	text-align: center;
}

#tree #state-icon,
#tree #state-none {
    display: none;
}

#tree .attachment-link:before,
#tree .document-link:before {
	content: "[";
}

#tree .attachment-link:after,
#tree .document-link:after {
	content: "]";
}

#tree .main-link::before,
#tree .main-link::after {
	content: "";
}

#tree #mi-link {
    height: 24px;
}

#tree #mi-link, #tree #mi-link a {
	font-size: 9px;
}

#content-pane {   
    width: 405px;
    height: 100%;
    display: block;
    z-index: 100000001;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-overflow-scrolling: touch;
}

#content-pane > iframe {
    height: 99%;
    width: 100%;
    z-index:100000002;
}

/********************** SPLITTER *********************************/
.vsplitbar {
	width: 5px;
	background: #cab;
}

.splitter {
    height: 400px;
}

.ui-state-default { background-color: #ccc }
.ui-state-hover { background-color: #bdb }
.ui-state-highlight { background-color: #add }
.ui-state-error { background-color: #eaa }

.splitter-pane {
    overflow: auto;
}
.splitter-bar-vertical {
    width: 4px;
    background-image: url(img/vgrabber.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.splitter-bar-vertical-docked {
    width: 10px;
    background-image: url(img/vdockbar-trans.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.splitter-bar.ui-state-highlight {
    opacity: 0.7;
}
.splitter-iframe-hide {
    visibility: hidden;
}

/************************* PAGES *******************************/
#document-page #document-title { 
	display: none; 
}

div#document-content  {
	padding: 0 8px;
}

div#document-attachments  {
	padding: 0 8px;
}

#document-page #document-attachments ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

#document-page #document-attachments li {
	display: inline;
	padding: 0 4px 0 0;
}

#document-page #document-attachments li a {
	display: inline;
	padding: 0 0 0 16px;
	background: url(../images/attachment.png) no-repeat; 
}
